streamlit
pandas
pdfplumber
supabase
flask
flask-cors
python-dotenv
Pillow
opencv-python-headless
easyocr
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
numpy==1.26.4
